*{
    box-sizing:border-box;
}

body{
    margin:0 auto;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

.inner{
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.nav-inner{
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

header{
    width:100%;
    height:95px;
    background-color: #ffffff;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
}

.head-container{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

.head-container .head-brand{
    font-weight: bold;
    font-size: 1.2=1rem;
    margin-top: 8px;
}

.head-searchbar{
    margin-top:15px;
    padding-left: 5px;
    width:100%;
    position: relative;
    display: flex;
}

.searchTab{
    width: 100%;
    border: 3px solid #FF3357;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid #FF3357;
  background: #FF3357;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 19px;
}

.header-sideBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 100%;
}

.mypage{
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.mypage a{
    color:black;
}

.mypage a:hover{
    color:#FF3357;
    text-decoration: none;
}

.mypage-icon{
    padding-left: 300px;
    margin-right: 85px;
    font-size: 1.5rem;
}

.mypage-text{
    padding-left: 300px;
    margin-right: 85px;
    height:40px;
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    
}

.cart{
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.cart a{
    color:black;
}

.cart a:hover{
    color:#FF3357;
    text-decoration: none;
}

.cart-text{
    height:40px;
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
}

section{
    width:100%;
    background-color: #fff;
    position:relative;
    height:100%;
}


.main-container{
    width:100%;
    height:100%;
    margin-top:100px;
}



.category{
    color: black;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Black Han Sans', sans-serif;
    
}



.navbar-nav{
    padding: 0;
}



.nav-item{
    margin:0 20px;
    color: black;
    font-size: 15px;
    font-family: 'Black Han Sans', sans-serif;
}




.d-block{
    height:380px;
    background-size: cover;
}


.main-new{
    width:100%;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.main-title-new{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-title{
    font-size: 1.3rem;
    font-weight: bold;
}

.new-list{
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin-top:15px;
    overflow: none;
}

.new-goods{
    width: 280px;
    transition: 0.4s;
    margin:0 10px;
}

.new-image{
    display: block;
    
    height:210px;
    object-fit: cover;
}

.goods-title{
    margin-top:10px;
    font-size: 12px;
    color:black;
}

.goods-price{
    margin-top:5px;
    font-size: 1.2em;
    font-weight: bold;
    color:black;
}

.rate {
    float: left;
    height: 20px;
    padding:0;
}

.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:12px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}

.rank-container{
    margin-top: 15px;
    padding: 1rem 0;
}

.col{
    position: relative;
}

.test-container{
    display: flex;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e9ecef;
}

.fa-crown{
    font-size: 30px;
    opacity: 1;
    color: #fab005;
    
}

.rank-text{
    position: absolute;
    color: black;
    font-size: 15px;
    top:65px;
    left:29px;
}

.rank-image{

    height:120px;
    object-fit: cover;
    margin-left: 10px;
}


.rank-info{
    display: block;
    margin-left: 10px;
}

.rank-title{
    font-size:12px;
    color:black
}

.rank-price{
    color: black;
    font-size:20px;
    font-weight: bold;
}

.unrank-text{
    font-weight: bold;
    color:#FF3357;
}

.review-container{
    width:100%;
    background-color: #dee2e6;
    
}

.class-list{
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin:  0;
    overflow: none;
}

.class-card{
    width:330px;
    box-shadow: 10px 10px 10px -5px rgba(25,42,70,0.2);
    border-radius: 8px;
    margin: 0 30px;
    transition: 0.4s;
    flex-shrink: 0;
    background-color: #fff;
}

.class-card:hover{
    box-shadow: 10px 10px 10px 0px rgba(25,42,70,0.2);
    transform: translate(0,-5px);
}

.class-image{
    display:block;
    margin: 10px auto;
    max-width:180px;
    border-radius: 8px 8px 0 0;
    height:150px;
    object-fit: cover;
}

.class-container{
    width:100%;
    padding:0.5rem 1rem 1rem 1rem;
}

.class-skill{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.class-type{
    font-size: 0.7em;
    color:#949393
}

.class-format{
    font-size: 0.9em;
    color:#FF3357;
    background-color: #949393;
    padding:0.2rem;
}

.class-desc{
    width:100%;
    margin-top: 1rem;
    color: #545e6f;
}

.class-desc:hover{
    color:#2186c4;
}

.class-title{
    font-weight: bold;
    color:inherit;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.class-detail{
    font-size: 0.9rem;
    color:inherit;
    line-height: 1.5rem;
}


.footer-container1-contents{
    height: 90px;
    display: flex;
    justify-content: space-between;
   align-items: center;
    
}

.footer-container1-text{
    color:black;
}


.footer-container2-contents{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    
}

.footer-container2-text{
    color:black;
    display: flex;
    font-size: 1.5em;
    flex-basis: 50%;
}

.fa-headset{
    margin-right: 5px;
    
}

.footer-logo{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    flex-basis: 50%;
}

.footer-container2-downtext{
    color:black;
    display: flex;
    font-size: 1em;
    flex-basis: 100%;
}

.open-time{
    color:black;
    position: absolute;
    top:50px;
    
}

.footer-etc{
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 0.4em;
}






@media only screen and (min-width:1200px){
    .inner,.nav-inner{
        max-width: 1200px;
    }
}




